<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="projects.blissrecruitment.sbp.blissballot">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <!-- Sets the intent action to view the activity -->
                <action android:name="android.intent.action.VIEW" />
                <!-- Allows the link to be opened from a web browser -->
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Allows the deep link to be used without specifying the app name -->
                <category android:name="android.intent.category.DEFAULT" />
                <!-- URI tutsplus://deeplink -->
                <data android:scheme="blissrecruitment"/>
            </intent-filter>
        </activity>
        <activity android:name=".DetailScreen">

        </activity>
        <receiver android:name=".NetworkBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <!-- <action android:name="android.net.wifi.WIFI_STATE_CHANGED"/> -->
                <!-- <action android:name="android.net.wifi.STATE_CHANGE"/> -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>

        </receiver>
    </application>

</manifest>